$headlineFont = "MerriweatherLight";
$bodyFont = "OpenSansLight";
$subheadFont = "OpenSansRegular";
$compactFont = "OpenSansLight";
$tinytypeFont = "OpenSansRegular";

// Primary Colors
$primary-white = #FFFFFF;
$primary-grey = #4A4A4A;
$lightBlue = #64BCBB;
$green = #49A14C;
$darkBlue = #10716F;
$darkGray = #828282;
$lightGray = #D9D9D9;
