


.campaign-tile, .campaign-detail {
  h2 {
    font-family: OpenSansBold;
    font-size: 30px;
    a {
      color: #666666;
    }
  }
  .portrait {
    float: left;
    display: inline-block;
    width: 170px;
    height: 170px;
  }
  .total {
    clear: both;
    font-size: 2.5em;
  }
  .radial {
    display: inline-block;
  }
  .percent {
    font-size: 2em;
  }
  .icon {
    width: 50px;
    height: 50px;
    margin-top: -50px;
    position: relative;
    top: 75px;
    left: 25px;
  }
  .icon-grassroots {
    background-image: url('../../images/icons/grassroots_funding_heart.svg');
  }
  .icon-district {
    background-image: url('../../images/icons/indistrict_funding__gps.svg');
  }
  .icon-money {
    background-image: url('../../images/icons/total_money_raised.svg');
  }
  .icon-grassroot {
    background-image: url('../../images/icons/whos_giving_grassroots.svg');
  }
  .icon-individual {
    background-image: url('../../images/icons/whos_giving_indv.svg');
  }
  .icon-pac {
    background-image: url('../../images/icons/whos_giving_pac.svg');
  }
  .icon-party {
    background-image: url('../../images/icons/whos_giving_party.svg');
  }
  .icon-corporate {
    background-image: url('../../images/icons/whos_giving.svg');
  }
  .icon-union {
    background-image: url('../../images/icons/whos_giving_union_funding.svg');
  }
  .party {
    width: 75px;
    height: 75px;
    display: inline-block;
  }
  .party-democrat {
    background-image: url('../../images/icons/party2_dem_donkey.svg');
  }
  .party-republican {
    background-image: url('../../images/icons/party_rep_elphant.svg');
  }
  .funding-icon {
    display: inline-block;
  }
  .arrow {
    width: 80px;
    height: 80px;
    position: absolute;
  }
  .arrow-left {
    right: 100%;
  }
  .arrow-right {
    left: 100%;
  }
  .race {
    height: 50px;
  }
}
